extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='soldTicket-add-form' name='soldTicket-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='train') Train
            div(class='col-md-9')
                select(id='train' name='train' value='' class='form-control' required='required')
                    option(value='') Select train
                    option(value='ca') Canada
                    option(value='en') England
                    option(value='pl') Poland
                    option(value='ua') Ukraine
                    option(value='us') USA
        form(id='passenger-add-form' name='passenger-add-form' class='form-inline' action='')
            div(class='form-group')
                div(class='col-md-3')
                    label(for='train') Passenger
                div(class='col-md-9')
                    select(id='passenger' name='passenger' value='' class='form-control' required='required')
                        option(value='') Select passenger
                        option(value='ca') Canada
                        option(value='en') England
                        option(value='pl') Poland
                        option(value='ua') Ukraine
                        option(value='us') USA
        form(id='ticket-add-form' name='ticket-add-form' class='form-inline' action='')
            div(class='form-group')
                div(class='col-md-3')
                    label(for='train') Passenger
                div(class='col-md-9')
                    select(id='ticket' name='ticket' value='' class='form-control' required='required')
                        option(value='') Select ticket
                        option(value='ca') Canada
                        option(value='en') England
                        option(value='pl') Poland
                        option(value='ua') Ukraine
                        option(value='us') USA
        div(class='form-group')
            div(class='col-md-3')
                label(for='date') Price
            div(class='col-md-9')
                input(id='date' name='date' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' id='btn-create' class='btn btn-primary') Create
                button(type='submit' id='btn-update' class='btn btn-primary btn-hidden') Update
                input(type='hidden' id='update-item' name='update-item')
        div.list-wrapper
            table(id='soldTicket-list')
block append scripts
    script(src='/static/js/models/soldTicket.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/soldTicket.js')
