extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='soldTicket-add-form' name='soldTicket-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='train') Train
            div(class='col-md-9')
                select(id='train' name='train' class='form-control' required='required')
                    option(value='' selected='selected') Select train
        div(class='form-group')
            div(class='col-md-3')
                label(for='ticket') Ticket
            div(class='col-md-9')
                select(id='ticket' name='ticket' class='form-control' required='required')
                    option(value='' selected='selected') Select ticket
        div(class='form-group')
            div(class='col-md-3')
                label(for='passenger') Passenger
            div(class='col-md-9')
                select(id='passenger' name='passenger' class='form-control' required='required')
                    option(value='' selected='selected') Select passenger
        div(class='form-group')
            div(class='col-md-3')
                label(for='date') Date
            div(class='col-md-9')
                input(id='date' name='date' value='' class='form-control' type="date")
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' id='btn-create' class='btn btn-primary') Create
                button(type='submit' id='btn-update' class='btn btn-primary btn-hidden') Update
                input(type='hidden' id='update-item' name='update-item')
        div.list-wrapper
            table(id='soldTicket-list')
block append scripts
    script(src='/static/js/models/train.js')
    script(src='/static/js/models/ticket.js')
    script(src='/static/js/models/passenger.js')
    script(src='/static/js/models/soldTicket.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/soldTicket.js')
